.header {
    text-align: center;
    margin: 50px;
}

.navigation {
    background: #037Ef3;
    text-align: center;
    padding: 20px;
}

.navigation ul {
    margin-bottom: 0;
    padding-left: 0;
}

.navigation ul li a {
    color: white;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 60px;
}