.features {
    margin-top: 100px;
    margin-bottom: 100px;

    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 18px;
        color: $primary-color;
    }
}