/* Hero */
.hero {
    @extend %background-cover;
    height: 88%;
    padding: 200px 0px;
    background-image: url('images/home-bg.jpg');

    h5 {
        font-size: 12px;
        letter-spacing: 2px;
        color: $primary-color;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    button {
        border: 2px solid white;
        border-radius: 50px;
        margin-top: 42px;
        padding: 13px 22px;
    
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;

        &:hover {
            color: white;
            background-color: transparent;
        }
    }
}