$soft-landing-green: #29ca8e;
$background-black: black;

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    transition: all 0.4s ease-in-out;
    font-family: 'Lato';
    background-color: $background-black;
    
}

a {
    transition: all 0.4s ease-in-out !important;
}

@import 'partials/preloader';
@import 'partials/navigation';
@import 'partials/hero';
@import 'partials/contents';
@import 'partials/footer';